[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hchinamap"]
	path = hchinamap
	url = https://github.com/cran/hchinamap
[submodule "hpackedbubble"]
	path = hpackedbubble
	url = https://github.com/cran/hpackedbubble
[submodule "hwordcloud"]
	path = hwordcloud
	url = https://github.com/cran/hwordcloud
[submodule "sankeywheel"]
	path = sankeywheel
	url = https://github.com/cran/sankeywheel
